# Project exclude paths
__pycache__
/data/training_brat/
/data/ctd/
/data/embeddings/
/data/pubtator/
/analysis/*ann
/analysis/*txt
/analysis/.stats_cache
/_tmp
/logs
/wandb
/outputs
/.idea
.sync_exclude
.sync_ignore
.spyderproject
